@import '~bootstrap/scss/bootstrap';
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .title {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .titleText {
      background-color: rgba(0, 0, 0, 0.5);
      width: 600px;
      color: white;
      padding: 30px 60px;
      @media (max-width: 850px) {
        width: 500px;
        padding: 25px 50px;
      }
      @media (max-width: 650px) {
        width: 400px;
        padding: 20px 40px;
      }
      @media (max-width: 450px) {
        width: 300px;
        padding: 15px 30px;
      }
    }
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 75px;
    @media (max-width: 850px) {
      padding: 0 15px;
    }
    @media (max-width: 550px) {
      margin-top: 20px;
    }
    .card {
      border: none;
      background: rgba(255, 255, 255, 0.5);
      width: 18%;
      height: 210px;
      @media (max-width: 1000px) {
        height: 190px;
      }
      @media (max-width: 850px) {
        height: 170px;
      }
      @media (max-width: 700px) {
        height: 150px;
      }
      @media (max-width: 550px) {
        height: 130px;
      }
      @media (max-width: 350px) {
        height: 95px;
      }

      .linkto {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: rgba(55, 54, 255);
        height: 100%;

        .card-img-top {
          max-width: 100%;
          height: 70%;
          padding: 15px;

          @media (max-width: 850px) {
            padding: 12px;
          }
          @media (max-width: 550px) {
            padding: 9px;
          }
        }

        .card-body {
          display: flex;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.55);
          @media (max-width: 850px) {
            padding: 0;
          }
          .card-title {
            display: inline;
            text-align: center;
            color: white;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 18px;
            @media (max-width: 860px) {
              font-size: 16px;
            }
            @media (max-width: 550px) {
              font-size: 14px;
            }
            @media (max-width: 400px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    .card:hover {
      opacity: 0.5;
    }
  }

  .teamIntro {
    padding: 16px;
    margin: 40px 75px;
    text-align: center;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.55);
    @media (max-width: 850px) {
      margin: 40px 15px;
      font-size: 16px;
    }
    @media (max-width: 550px) {
      margin: 20px 15px;
      font-size: 14px;
    }
    @media (max-width: 350px) {
      font-size: 12px;
    }
  }

  .highlight {
    background: rgba(59, 59, 236, 0.7);
    color: white;
    padding: 3px 3px;
  }
}
.background {
  position: absolute;
  background-image: url('../../univ.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: -1;
}
