@import '~bootstrap/scss/bootstrap';


.mainContainer {
  height: 100%;
  padding: 30px;
  background-image: url('../../univ.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;

    .titleText{
      background-color: rgba(122, 111, 111, 0.4);
      font-size: 70px;
      color: white;
      padding: 10px 60px;
    }
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 75px;

    .card {
      border: none;
      background: rgba(0, 0, 0, 0.3);
      width: 18%;
      height: 250px;
      .linkto {
        display:flex;
        flex-direction: column;
        text-decoration: none;
        color: #3736ff;
        height:100%;

        .card-img-top {
          max-width: 100%;
          height: 150px;
          padding: 15px;
        }

        .card-body {
          display:flex;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.7);

          .card-title {
            display: inline;
            text-align: center;
            color: white;
            display:flex;
            align-items: center;
            margin-bottom: 0;
          }
        }
      }
    }

    .card:hover{
      opacity: 0.5;
    }
  }

  .teamIntro {
    padding: 16px;
    margin: 40px 75px;
    text-align: center;
    font-size: 17px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }

  .highlight{
    background: rgba(59, 59, 236, 0.7);
    color: white;
    padding: 3px 4px;
  }
}

@media (max-width: 850px) {

  .mainContainer{
    .cardContainer{
      padding: 0 15px;
      .card{
        height: 210px;
      }

      .card-body{
        padding: 0;
        .card-title{
          font-size: 16px;
        }
      }
    }

    .teamIntro{
      margin: 40px 15px;
      font-size: 16px;
    }
  }
}

@media (max-width: 550px) {
  .mainContainer{
    padding: 15px;
    .title .titleText {
      font-size: 45px;
      padding: 10px 10%;
    }

    .cardContainer{
      margin-top:20px;

      .card {
        height: 150px;
        .linkto{
          .card-img-top{
            height: 100px;
          }

          .card-title{
            font-size: 14px;
          }
        }
      }
    }

    .teamIntro{
      margin:20px 15px;
      font-size: 14px;
    }
  }

}