.outSchool {
  height: 100%;
  width: 100%;
  padding: 0px 100px 30px 100px;
  @media (max-width: 950px) {
    padding: 0px 70px 30px 70px;
  }
  @media (max-width: 650px) {
    padding: 0px 20px 10px 20px;
  }
  .tabs {
    list-style: none;
    font-size: 25px;
    text-align: right;
    margin: 30px 0px 30px 0px;

    @media (max-width: 950px) {
      margin: 15px 0px 15px 0px;
      font-size: 20px;
    }
    @media (max-width: 650px) {
      font-size: 15px;
    }
  }
  .tabs li {
    display: inline-block;
    cursor: pointer;
    padding: 0 4% 0 0%;
    font-weight: bold;
  }
  .selected {
    color: rgb(223, 24, 17);
    font-size: 28px;
    @media (max-width: 950px) {
      font-size: 23px;
    }
    @media (max-width: 650px) {
      font-size: 18px;
    }
  }
  .unselected {
    color: rgb(0, 0, 0);
  }
  .unselected:hover {
    color: rgba(223, 24, 17, 0.5);
  }
  .outSchoolContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(4, 4, 156, 0.562);
    .outSchoolContents {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      .contentsTabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 25%;
        padding: 10px;
        @media (max-width: 950px) {
          width: 50%;
        }
        @media (max-width: 650px) {
        }

        .photo {
          max-height: 300px;
          width: 100%;

          @media (max-width: 950px) {
            max-height: 240px;
          }
          @media (max-width: 650px) {
            max-height: 150px;
          }
        }

        .contentsTitle {
          font-size: 25px;
          width: 100%;

          background-color: rgba(1, 0, 179, 0.8);
          color: white;
          padding: 2px;
          margin: 10px 0 10px 0;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @media (max-width: 950px) {
            font-size: 20px;
          }
          @media (max-width: 650px) {
            font-size: 15px;
          }
        }
        .contentsTitle:hover {
          white-space: pre-wrap;
        }

        .PlaceText {
          font-size: 18px;
          width: 100%;
          text-align: center;
          border: 1px solid rgb(190, 190, 190);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 20px;
          padding: 0 10px 0 10px;
          @media (max-width: 950px) {
            font-size: 15px;
          }
          @media (max-width: 650px) {
            font-size: 13px;
          }
        }
        .PlaceText:hover {
          white-space: pre-wrap;
        }
      }
    }
  }
}
