.outSchool {
  height: 100%;
  width: 100%;
  padding: 0px 100px 30px 100px;
  @media (max-width: 550px) {
    padding: 0px 10px 5px 10px;
  }
  .tabs {
    background-color: rgb(242, 250, 207);
    list-style: none;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;

    @media (max-width: 850px) {
      font-size: 25px;
    }
    @media (max-width: 550px) {
      font-size: 20px;
    }
    .tabsMenu {
      display: inline-block;
      cursor: pointer;
      padding: 0 5% 0 5%;
    }
  }
  .outSchoolContainer {
    display: flex;
    flex-direction: column;

    .description {
      background-color: rgb(255, 230, 230);
      font-size: 25px;
      padding: 10px 20px 10px 20px;
      @media (max-width: 850px) {
        font-size: 20px;
        padding: 7.5px 15px 7.5px 15px;
      }
      @media (max-width: 550px) {
        font-size: 15px;
        padding: 5px 10px 5px 10px;
      }
    }
    .outSchoolContents {
      display: flex;
      margin-top: 30px;
      justify-content: space-around;
      @media (max-width: 850px) {
        margin-top: 20px;
      }
      @media (max-width: 550px) {
        margin-top: 10px;
      }

      .contentsTabsBox {
        .contentsTabs {
          list-style: none;
          background-color: rgb(255, 250, 250);
          border: solid;
          width: 100%;
          padding: 10px;
          @media (max-width: 850px) {
            padding: 7px;
          }
          @media (max-width: 550px) {
            padding: 4px;
          }

          // padding-right: 50px;
          .contentsMenu {
            cursor: pointer;
            width: 100%;
            font-size: 30px;
            // margin-top: 3;
            @media (max-width: 850px) {
              font-size: 22.5px;
            }
            @media (max-width: 550px) {
              font-size: 15px;
            }
          }
        }
      }
      .contentsBox {
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: center;
        .contentsTitle {
          font-size: 50px;
          text-align: center;
          margin-bottom: 30px;
          @media (max-width: 850px) {
            font-size: 37.5px;
            margin-bottom: 20px;
          }
          @media (max-width: 550px) {
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
        .photo {
          width: 100%;
          background-color: darkgreen;
          @media (max-width: 850px) {
            width: 85%;
          }
          @media (max-width: 550px) {
            width: 70%;
          }
        }
        .PlaceText {
          font-size: 25px;
          background-color: darkkhaki;
          margin-top: 15px;
          @media (max-width: 850px) {
            font-size: 20px;
            margin-top: 10px;
          }
          @media (max-width: 550px) {
            font-size: 15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
