.outSchool {
  height: 100%;
  width: 100%;
  padding: 0px 100px 30px 100px;
  @media (max-width: 650px) {
    padding: 0px 10px 5px 10px;
  }
  .tabs {
    background-color: rgb(242, 250, 207);
    list-style: none;
    font-size: 25px;
    text-align: center;

    @media (max-width: 950px) {
      font-size: 20px;
    }
    @media (max-width: 650px) {
      font-size: 15px;
    }
    .tabsMenu {
      display: inline-block;
      cursor: pointer;
      padding: 0 5% 0 5%;
    }
  }
  .outSchoolContainer {
    display: flex;
    flex-direction: column;

    .description {
      max-height: 200px;
      overflow: auto;
      background-color: rgb(255, 230, 230);
      font-size: 25px;
      padding: 10px 20px 10px 20px;
      margin-bottom: 10px;
      @media (max-width: 950px) {
        max-height: 150px;
        font-size: 20px;
        padding: 7.5px 15px 7.5px 15px;
      }
      @media (max-width: 650px) {
        font-size: 15px;
        max-height: 100px;
        padding: 5px 10px 5px 10px;
      }
    }
    .outSchoolContents {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      @media (max-width: 850px) {
        margin-top: 20px;
      }
      @media (max-width: 550px) {
        margin-top: 10px;
      }

      .contentsTabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 25%;
        padding: 10px;
        @media (max-width: 950px) {
          width: 50%;
        }
        @media (max-width: 650px) {
        }

        .photo {
          max-height: 300px;
          width: 100%;
          background-color: darkgreen;
          @media (max-width: 950px) {
            max-height: 240px;
          }
          @media (max-width: 650px) {
            max-height: 150px;
          }
        }

        .contentsTitle {
          font-size: 25px;
          width: 100%;
          border: solid#3736ff 5px;
          background-color: rgb(#3736ff, 0.8);
          color: white;
          padding: 2px;
          margin: 10px 0 10px 0;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @media (max-width: 950px) {
            font-size: 20px;
          }
          @media (max-width: 650px) {
            font-size: 15px;
          }
        }
        .contentsTitle:hover {
          white-space: pre-wrap;
        }

        .PlaceText {
          font-size: 25px;
          width: 100%;
          background-color: darkkhaki;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 20px;
          padding: 0 10px 0 10px;
          @media (max-width: 950px) {
            font-size: 20px;
          }
          @media (max-width: 650px) {
            font-size: 15px;
          }
        }
        .PlaceText:hover {
          white-space: pre-wrap;
        }
      }
    }
  }
}
