@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  background-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// :root {
//   font-family: 'Noto Sans KR', sans-serif;
// }
