@import '~bootstrap/scss/bootstrap';

.evalContainer {
  .formTitle {
    padding: 30px 80px 46px;
    display: flex;
    justify-content: flex-end;

    a {
      text-align: center;
      background-color: rgb(#3736ff, 0.3);
      display: inline;
      padding: 5px 16px;
      border: 1px solid white;
      border-radius: 20px;
      font-weight: bold;
      font-size: 24px;
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: rgb(#3736ff, 0.3);
      background: white;
      border: 1px solid rgb(#3736ff, 0.3);
    }
    @media (max-width: 950px) {
      padding: 14px 0 30px;
      justify-content: center;
      a {
        font-size: 21x;
      }
    }
    @media (max-width: 650px) {
      padding: 10px 0 30px;
      justify-content: center;
      a {
        font-size: 18px;
      }
    }
    @media (max-width: 450px) {
      padding: 10px 0 20px;
      justify-content: center;
      a {
        font-size: 15px;
      }
    }
  }

  .evalListTab {
    display: flex;
    padding: 0 100px 0 100px;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
    @media (max-width: 950px) {
      padding: 0px 70px 30px 70px;
    }
    @media (max-width: 650px) {
      padding: 0px 20px 10px 20px;
    }
    .btnContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-x: hidden;
      height: 70vh;
      max-height: 100%;
      width: min-content;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 auto 0 0;
      @media (max-width: 450px) {
        height: 66vh;
      }

      .btn {
        background-color: rgba(55, 54, 255, 0.5);
        border-color: rgba(55, 54, 255, 0.7);
        color: ivory;
        font-size: 15px;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 150px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px 0 10px;
        @media (max-width: 950px) {
          padding: 0 7px 0 7px;
          font-size: 13px;
          margin: 3px;
          width: 125px;
        }
        @media (max-width: 650px) {
          padding: 0 5px 0 5px;
          font-size: 11px;
          width: 100px;
        }
        @media (max-width: 450px) {
          padding: 0 3px 0 3px;
          width: 80px;
        }
      }
      .btn:hover {
        height: auto;
        white-space: normal;
      }
      .selected {
        height: auto;
        white-space: normal;
        background-color: rgba(55, 54, 255, 0.8);
        border: solid rgba(55, 54, 255, 1);
      }
      .unselected:hover {
        background-color: rgba(55, 54, 255, 0.7);
      }
    }
    .btnContainer::-webkit-scrollbar {
      width: auto;
    }
    .btnContainer::-webkit-scrollbar-track {
      background-color: rgba(55, 54, 255, 0.3);
      border-radius: 10px;
    }
    .btnContainer::-webkit-scrollbar-thumb {
      background-color: #3736ff;
      border-radius: 10px;
      background-clip: padding-box;
      border: 3px solid transparent;
    }

    .line {
      border: 5px solid rgb(black, 0.8);
      @media (max-width: 950px) {
        border-width: 4px;
      }
      @media (max-width: 650px) {
        border-width: 3px;
      }
      @media (max-width: 450px) {
        border-width: 2px;
      }
    }
    .subjInfo {
      font-size: 25px;
      line-height: 180%;
      overflow-y: auto;
      width: 60%;
      height: 70vh;
      margin: 0 0 0 auto;
      padding-top: 1px;
      @media (max-width: 950px) {
        font-size: 20px;
      }
      @media (max-width: 650px) {
        height: 66vh;
        font-size: 15px;
      }
      @media (max-width: 450px) {
        font-size: 13px;
      }

      .lists {
        font-weight: bold;
        border-left: 8px solid rgb(#3736ff, 0.9);
        border-bottom: solid;
        padding-left: 8px;
        @media (max-width: 950px) {
          padding-left: 6px;
          border-left: 6px solid rgb(#3736ff, 0.9);
        }
        @media (max-width: 650px) {
          padding-left: 4px;
          border-left: 4px solid rgb(#3736ff, 0.9);
        }
      }
    }
  }
  .subjInfo::-webkit-scrollbar {
    width: auto;
  }
  .subjInfo::-webkit-scrollbar-track {
    background-color: rgb(#3736ff, 0.3);
    border-radius: 10px;
  }
  .subjInfo::-webkit-scrollbar-thumb {
    background-color: #3736ff;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }
}
