@import '~bootstrap/scss/bootstrap';

.evalContainer {
  // background-color: powderblue;
  // height: 550px;
  //   display: table;
  .evalListTab {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    max-height: 650px;
    padding-left: 10px;
    top: -10px;
    .btn {
      font-size: 20px;
      margin: 5px;
    }
    .subjInfo {
      position: absolute;
      top: -17px;
      left: 65vw;
      font-size: 30px;
      padding-top: 17px;
      padding-bottom: 54.5px;
      line-height: 180%;

      .lists {
        font-weight: bold;
        border-left: 8px solid #3736ff;
        border-bottom: solid;
        padding-left: 8px;
      }
    }
  }
}
