.calContainer {
  display: flex;
  justify-content: center;
  .rbc-calendar {
    margin-bottom: 15px;
    width: 100%;
    height: 100vh;
    font-size: 100%;
    padding: 0 100px 0 100px;
    @media (max-width: 950px) {
      font-size: 13px;
      padding: 0 70px 0 70px;
    }
    @media (max-width: 650px) {
      margin-top: 0px;
      padding: 0 20px 10px 20px;
    }
    @media (max-width: 450px) {
      font-size: 11px;
    }
    @media (max-width: 350px) {
      font-size: 10px;
    }

    .rbc-toolbar {
      @media (max-width: 950px) {
        font-size: 13px;
      }
      @media (max-width: 650px) {
        font-size: 11px;
      }
      @media (max-width: 450px) {
      }
      @media (max-width: 350px) {
        font-size: 10px;
      }
      .rbc-btn-group {
        button {
          @media (max-width: 950px) {
            padding: 4px 11px 4px 11px;
          }
          @media (max-width: 650px) {
            padding: 2px 5px 2px 5px;
          }
        }
      }
      .rbc-toolbar-label {
        font-size: 22px;
        flex-grow: 0.9;
        @media (max-width: 950px) {
          font-size: 20px;
        }
        @media (max-width: 650px) {
          font-size: 18px;
        }
        @media (max-width: 450px) {
          font-size: 16px;
          padding: 0 6px;
        }
        @media (max-width: 350px) {
          font-size: 14px;
          padding: 0 4px;
        }
      }
    }
  }
  .rbc-event-content:hover {
    white-space: pre-wrap;
    overflow: visible;
  }
}
