.tabs {
  background-color: rgb(242, 250, 207);
  list-style: none;
  font-size: 30px;
  text-align: right;
  .tabsMenu {
    display: inline-block;
    cursor: pointer;
    padding-right: 40px;
  }
}
.outSchoolContainer {
  display: flex;
  flex-direction: column;
  // .description {
  //   background-color: rgb(252, 211, 161);
  //   margin-top: 30px;
  //   p {
  //     font-size: 25px;
  //   }
  // }
  // .outSchoolContents {
  //   display: flex;
  //   margin-top: 30px;

  //   .RestaurantTabsBox {
  //     .contentsTabs {
  //       width: 300px;
  //       list-style: none;
  //       background-color: darkgray;
  //       font-size: 30px;
  //       padding-top: 35px;
  //       .contentsMenu {
  //         // display: inline-block;
  //         cursor: pointer;
  //         margin-top: 30px;
  //       }
  //     }
  //   }
  //   .contentsBox {
  //     width: 900px;
  //     .photo {
  //       width: 100%;
  //       background-color: darkgreen;
  //     }
  //     .PlaceText {
  //       font-size: 25px;
  //       background-color: darkkhaki;
  //     }
  //   }
  // }
}
