.navContainer {
  top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px black;

  .navLogoBox {
    background-color: rgb(#3736ff, 0.9);
    position: relative;
    text-align: center;
    padding: 17px 0px 0px 0px;

    .navLogoImg {
      width: 500px;
      @media (max-width: 850px) {
        width: 375px;
      }
      @media (max-width: 550px) {
        width: 250px;
      }
      @media (max-width: 380px) {
        width: 200px;
      }
    }
  }
}
.navList {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-bottom: 3px solid black;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (max-width: 850px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: 550px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (max-width: 380px) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  @media (max-width: 320px) {
    margin-bottom: 8px;
  }

  li {
    align-items: center;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    @media (max-width: 850px) {
      font-size: 19px;
    }
    @media (max-width: 550px) {
      font-size: 15px;
    }
    @media (max-width: 380px) {
      font-size: 13px;
    }
  }
  li:hover {
    text-decoration: none;
    color: #3736ff;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
  }
  a {
    text-decoration: none;
  }
}
